name: Go-ci

on:
  pull_request:
    branches: [ "master" ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - uses: actions/setup-go@v4
      with:
        go-version: 1.25.0

    - name: run lint
      uses: golangci/golangci-lint-action@v8
      with:
        cache-invalidation-interval: 15
        version: v2.6.0
